apt-get update
sysconf_require_packages nano openssh-server mapserver-bin cgi-mapserver spawn-fcgi nginx  postgresql postgresql-contrib postgis* libxml2-dev libpq-dev libfcgi-dev mapcache-cgi mapcache-tools
#cmake libjpeg-dev libcurl4-nss-dev libapr1-dev


chmod +x /etc/init.d/mapserv
service mapserv start
/etc/init.d/nginx start
su -c "createuser --superuser gisuser" postgres
su -c "createdb -E LATIN1 -O gisuser gis" postgres

su postgres
echo "ALTER USER gisuser WITH PASSWORD '123456789';" | psql -d gis
export PGPASSWORD='123456789'
#psql -h 127.0.0.1 -U gisuser gis
echo "CREATE EXTENSION postgis;" | psql -h 127.0.0.1 -U gisuser gis
echo "CREATE EXTENSION postgis_topology;" | psql -h 127.0.0.1 -U gisuser gis
shp2pgsql -I -s 4326 /var/lib/geo/data/ne_10m_admin_0_countries.shp admin_countries | psql -h 127.0.0.1 -U gisuser gis
 
wget http://download.osgeo.org/mapserver/tinyows-1.1.0.tar.bz2
tar xvjf tinyows-1.1.0.tar.bz2
cd tinyows-1.1.0
./configure
make
sudo make install
cp tinyows /usr/lib/cgi-bin/

/usr/lib/cgi-bin/tinyows --check
/etc/init.d/spawn-cgi-tinyows start



export MAPCACHE_CONFIG_FILE=/etc/mapcache.xml 

/etc/init.d/mapcache start


